<%= form_for(rate, html: { class: 'card' }) do |f| %>
  <div class="card-body">
    <div class="text-information">
      <h4 class="card-title"><%= t("currency.#{rate.code}") %></h4>
      <h6 class="card-subtitle"><%= rate.code %></h6>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-5">
          <%= f.text_field(:forced_value, class: 'form-control', placeholder: 'Курс') %>
        </div>
        <div class="col-7">
          <%=
            f.text_field(
              :forced_until,
              class: 'form-control datetimepicker',
              placeholder: 'До',
            )
          %>
        </div>
      </div>
      <div class="row submit-button">
        <div class="col">
          <%= f.submit(class: 'btn btn-primary btn-lg') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
