<!DOCTYPE html>
<html>
<head>
  <title>
    <%= [content_for(:title), 'Курсы валют'].compact.join(' - ') %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
</head>
<body class="<%= current_page_name %>">
  <%= render 'menu' %>
  <%= yield %>
</body>
</html>
